
#Cypress related files
cypress-e2e-sandbox/hs_err_pid*
cypress-e2e-sandbox/node_modules
cypress-e2e-sandbox/cypress/screenshots
cypress-e2e-sandbox/cypress/reports
cypress-e2e-sandbox/reports
cypress-e2e-sandbox/screenshots
cypress-e2e-sandbox/junit
cypress-e2e-sandbox/cypress/fixtures/
cypress-e2e-sandbox/allure-report
cypress-e2e-sandbox/allure-results